name: Living procedure

on: [push]

jobs:
  macos:
    runs-on: macos-15
    steps:
      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          uv --version
          uvx --version
      - name: Play baseball
        run: |
          cat > baseball.py <<PY
          def plus_one(numbers: list[int]) -> list[int]:
              return [n + 1 for n in numbers]
          PY
          cat baseball.py
      - name: Run flake8-kotoha
        run: |
          set +e
          uvx --with flake8-kotoha flake8 baseball.py
          [ $? -eq 1 ]
