name: Living procedure

on: [push]

jobs:
  macos:
    runs-on: macos-15
    steps:
      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          uv --version
          uvx --version
      - name: Run flake8-kotoha
        run: uvx --with flake8-kotoha flake8 --help
